@mixin fontFace($family,$src,$style: normal,$weight: normal) {
  @font-face {
    font-family: $family;
    src: url('#{$src}.eot');
    src: url('#{$src}.eot?#iefix') format('embedded-opentype'),
    url('#{$src}.woff') format('woff'),
    url('#{$src}.svg#vegurbold') format('svg');
    //src: url('#{$src}.ttf') format('truetype');
    font-style: $style;
    font-weight: $weight;
  }
}

/*
@font-face {
  font-family: 'vegurbold';
  src: url('../fonts/vegur-bold-webfont.eot');
  src: url('../fonts/vegur-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vegur-bold-webfont.woff') format('woff'),
  url('../fonts/vegur-bold-webfont.svg#vegurbold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'vegurlight';
  src: url('../fonts/vegur-light-webfont.eot');
  src: url('../fonts/vegur-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vegur-light-webfont.woff') format('woff'),
  url('../fonts/vegur-light-webfont.svg#vegurlight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'vegurregular';
  src: url('../fonts/vegur-regular-webfont.eot');
  src: url('../fonts/vegur-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/vegur-regular-webfont.woff') format('woff'),
  url('../fonts/vegur-regular-webfont.svg#vegurregular') format('svg');
  font-weight: normal;
  font-style: normal;

}*/
