@import 'reset';
@import 'colors';
@import 'fonts';
@import 'media_queries';
@import "slick";
@import "slick-theme";

@include fontFace('vegurbold', '../fonts/vegur-bold-webfont');
@include fontFace('vegurlight', '../fonts/vegur-light-webfont');
@include fontFace('vegurregular', '../fonts/vegur-regular-webfont');

$VegurRegular: 'vegurregular', Helvetica, Arial, sans-serif;
$VegurLight: 'vegurlight', Helvetica, Arial, sans-serif;
$VegurBold: 'vegurbold', Helvetica, Arial, sans-serif;

* {
  min-height: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

body {
  background-color: white;
  color: $header_background;
  font-family: $VegurRegular;
  font-size: 100%;
}

#topNode {
  //border: 1px solid red;
}

em {
  font-family: $VegurBold;
}

.contentPanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  @include mq('tablet') {
    justify-content: center;
  }

  @include mq('tablet-wide') {
    justify-content: center;
    //height: 90%;
  }
}

.flexInner {
  padding-top: 4em;

  //border: 1px solid grey;
  background-color: white;
  align-self: center;
  text-align: center;
  width: 85%;
  max-width: 1025px;

  @include mq('tablet') {
    padding-top: 0;
  }
}

.thumbnail, .blankThumbnail {
  box-sizing: border-box;
  border-bottom: 1px #c2c2d0 solid;
  border-right: 1px #c2c2d0 solid;
  position: relative;
  width: 127px;
  height: 90px;
  overflow: hidden;
  background-color: #e7e7df;
  background-repeat: no-repeat;
  opacity: 1;
}

.blankThumbnail {
  background-color: #F9F9F1;
}

.thumbnail:hover {
  cursor: pointer;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.projectDescription {
  position: relative;
  height: 20px;
  margin-top: 3px;
  font-size: 0.8em;
  line-height: 1.2em;
}

/* HEADER*/

#header {
  background-color: $header_background;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  height: 30px;

  @include mq('tablet') {
    height: 40px;
  }

  h1 {
    color: white;
    position: relative;
    margin-top: 6px;
    margin-bottom: 9px;
    margin-left: 0.8em;
    letter-spacing: 1px;
    font-size: 1.3em;
    user-select: none;
    cursor: default;

    a {
      color: inherit;
      text-decoration: none;
    }

    @include mq('tablet') {
      font-size: 1.6em;
      margin-top: 21px;
      margin-bottom: 0;
    }
  }

  #portfolioNav {
    color: $header_background;
    margin-left: 10px;
    margin-top: -5px;
    font-size: 0.8em;
    background-color: white;

    a {
      color: inherit;
      text-decoration: none;
    }

    ul, li {
      list-style: none;
    }

    li {
      position: relative;
      display: inline-block;
      text-transform: uppercase;
      /*      margin-left: 5px;
            margin-right: 5px;*/
      padding-top: 6px;
      padding-bottom: 4px;
      padding-left: 8px;
      padding-right: 8px;
      overflow: hidden;
      letter-spacing: inherit;
    }
    li.deselected {
      font-family: $VegurRegular;
      border-left: 1px rgba(255, 255, 255, 0) solid;
      border-right: 1px rgba(255, 255, 255, 0) solid;
      border-bottom: 1px rgba(255, 255, 255, 0) solid;
    }

    li.selected {
      border-left: 1px $header_background solid;
      border-right: 1px $header_background solid;
      border-bottom: 1px $header_background solid;
      font-family: $VegurBold;
      /*      padding-bottom: 4px;
            padding-left: 11px;
            padding-right: 11px;*/
      user-select: none;
      cursor: default;
    }
    li.splashNav {
      border-left: 1px $header_background solid;
      border-right: 1px $header_background solid;
      border-bottom: 1px $header_background solid;
      position: absolute;
      right: 2em;
    }

    @include mq('tablet') {
      margin-left: 200px;
      margin-top: -7px;
      font-size: 0.9em;
      background-color: transparent;

      li {
        padding-left: 11px;
        padding-right: 11px;
        letter-spacing: 0.07em;
      }
      li.splashNav {
        margin-left: 0;
        position: relative;
        margin-left: 30px;

      }
    }
  }
}

/* FOOTER*/

#footer {
  position: fixed;
  bottom: 0px;
  z-index: 101;
  width: 100%;
  /*border: 1px solid grey;*/
  margin-bottom: 0;
  margin-top: 2px;
  padding-left: 2.4em;
  background-color: white;
  border-top: 1px $header_background solid;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.8em;
  color: $header_background;

  a {
    font-family: 'vegurbold';
    color: $footer_background;
    text-decoration: none;
    text-transform: uppercase;
  }

  .footerIcon {
    color: $icon_color;
    font-size: 1.3em;
  }
}

/* SPLASH SCREEN*/

#splash {
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
  }

  .splashImageWrapper {
    //border: 1px solid red;
  }
  .splashDescription {
    text-align: left;
    font-size: 0.8em;
    margin-bottom: 1em;
    border-left: 3px $header_background solid;
    padding-left: 0.5em;
    @include mq('tablet') {
      font-size: 0.95em;
      margin-left: 0;
    }
  }
}

/*
OPED
*/

#oped {
  line-height: 1.3em;
  text-align: left;
  justify-content: center;

  p {
    font-size: 0.8em;
    margin-bottom: 2em;
    color: $header_background;
  }

  .flexInner {
    //border: 1px solid red;
    align-self: center;
    text-align: left;
    padding: 1em;
    max-width: 750px;
  }

  .question {
    color: $icon_color;
    margin-bottom: 0.5em;
  }
  .answer {
    p {
      margin: 0;
      margin-bottom: 0.4em;
    }
    margin-bottom: 1em;

  }
}

/* PORTFOLIO*/

#portfolio {
  .flexInner {
    width: 381px;
    border: none;
    text-align: left;
  }

  @include mq('tablet') {
    .flexInner {
      width: 762px;
    }
  }

  #flexThumbnail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px #c2c2d0 solid;
    border-top: 1px #c2c2d0 solid;
    border-bottom: none;
    border-right: none;
    align-self: center;
    text-align: center;
    width: 100%;
    max-width: 780px;
    box-sizing: content-box;
  }
}

/*PORTFOLIO DETAIL*/

#portfolioDetail {

  @include mq('tablet') {
    /*    width: 80%;
        height: 90%;
        margin-left: 5%;*/
    //margin-top: 5%;
  }

  @include mq('desktop') {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
  }

  .flexInner {
    position: relative;
    border: none;
    background-color: white;
    align-self: center;
    width: auto;
    display: flex;
  }

  .detailImageContainer {
    text-align: left;
  }
  .mainImage {
    text-align: right;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 364px;
    width: 364px;
    img {
      //width:100%;
      height: 100%;
    }

    @include mq('tablet') {
      height: 364px;
      width: 768px;
    }
    @include mq('desktop') {
      height: 364px;
      width: auto;
      min-width: 768px;

    }
  }

  .moreButton {
    position: relative;
    width: 99px;
    height: 24px;
    background-image: url('../images/moreBtn.png');
    margin-left: -5px;
    margin-top: -18px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    /*    padding-bottom: 0.5em;*/

    @include mq('tablet') {
      position: absolute;
      right: 0;
      bottom: 17px;
      margin-right: -90px;
      margin-left: 0;
      margin-top: 0;
      width: 80px;
    }
  }

  .detailSelectorButtonContainer {
    /*    position: absolute;
        top: 0;
        right: -33px;
        margin-top: -33px;*/
    padding-left: 0.5em;
  }

  .closeDetailButton {
    background-image: url('../images/closeBtn.png');
    position: relative;
    width: 23px;
    height: 23px;
    border: 1px solid $header_background;
    background-size: cover;
    box-sizing: content-box;
    margin-bottom: 8px;
    cursor: pointer;
  }

  .selectDetailButton {
    position: relative;
    width: 20px;
    height: 19px;
    border: 1px solid $header_background;
    font-size: 0.8em;
    padding-top: 5px;
    margin-bottom: 8px;
    line-height: 1.2em;
    padding-left: 1px;
    padding-right: 2px;
    box-sizing: content-box;
    cursor: pointer;
  }

  .selectDetailButtonSelected {
    position: relative;
    width: 20px;
    height: 19px;
    border: 1px solid $header_background;
    background-color: $header_background;
    font-size: 0.8em;
    padding-top: 5px;
    margin-bottom: 8px;
    line-height: 1.2em;
    padding-left: 1px;
    padding-right: 2px;
    box-sizing: content-box;
    color: white;
    cursor: default;
  }

  #audioPlayerControls {
    width: 50%;
    max-width: 180px;
    position: absolute;
    bottom: 21px;
    left: 2px;

    svg {
      //border: 1px solid red;
    }
  }
}

@import 'phone';
