# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.htaccess
*.iml
out
gen
cms
perch

/pages/about.php
/pages/footer.php
/pages/header.php
/pages/oped.php
/pages/portfolio_music.php
/pages/portfolio_other.php
/pages/portfolio_print.php
/pages/portfolio_web.php
/pages/get_site_data.php

node_modules/
records.json
cms_pages/
build/
mock/
api/
audio_player.html
/recordsPath.json
/mock/
